html {
  font-family: "Segoe UI", Roboto, sans-serif;
  background-color: #e5e4e2;
}
body {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  height: 100%;
  background-color: #ffffff;
  padding: 1em;
  border-radius: 1em;
}
#top {
  border-bottom: solid .1em lightgray;
  padding: 1em;
  /*padding-bottom: 1em;*/
  /*border-radius: .5em;*/
  /*background-color: #6699cc;*/
}
main {
  margin-top: 1em;
  margin-bottom: 1em;
}
footer {
  border-top: solid .1em lightgray;
  margin-top: 1em;
  padding-top: 1em;
}
hr {
  color: lightgray;
  background-color: lightgray;
}
h1 { font-size: x-large; }
h2 { font-size: large; }
h3 { font-size: medium; }
#past-courses-table { border-collapse: collapse; }
#past-courses-table thead {
  background-color: #246BCE;
  color: white;
  font-weight: bold;
  text-align: center;
}
#past-courses-table td {
  border-bottom: solid .1em black;
  padding: .3em;
}
a:link {
  text-decoration: none;
  color: #246BCE;
}
a:visited { color: #246BCE; }
a:hover { color: #246BCE; }
a:active { color: #246BCE; }
#top {
  padding: 0;
  margin: 0;
}
#site-header {
  text-align: center;
  padding: 0;
  margin: 0;
}
#orcid { margin-bottom: 1em; }
.section-header { font-size: x-large; }
#validation {  
  position: fixed;
  top: auto;
  bottom: 0;
  height: auto;
  left: auto;
  right: 0;
  width: auto;
  overflow: hidden;
  z-index: 3;
}
